{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended"],
  "plugins": ["jest"],
  "parserOptions": {
    "sourceType": "module"
  }
}
